<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCohfE1Mk6-CpkpyCuVGsHR_NB-lvVll2c</string>
	<key>GCM_SENDER_ID</key>
	<string>332837336527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.error404.viticare.viticare</string>
	<key>PROJECT_ID</key>
	<string>viti-care-dc277</string>
	<key>STORAGE_BUCKET</key>
	<string>viti-care-dc277.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332837336527:ios:704b97f3fcfa1676b68eba</string>
</dict>
</plist>